<link rel="stylesheet" href="/my_styles.css">
<span class="base-button fancy-button">Click me!</span>
<span class="base-button scary-button">Be Careful!</span>

<div style="color: red; border: thing red solid;">
  <p style="color: blue">Hi there</p>
</div>
